body {
    height: 100vh;
    font-family: 'EB Garamond', serif;
    background-color: rgb(35, 35, 35);
    color: rgb(105,105,105);
    font-weight: bold;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(211,211,211); 
    margin-bottom: 20px;
}

h2 {
    font-family: 'Sonsie One', cursive;
    color: rgb(211,211,211);
}

main {
    text-align: center;
    margin: 100px;
    font-size: 22px;
}

hr {
    width: 150px;
}